*{
  margin: 0 0;
}

html{
  font-size: 1rem;
}

h1, h2, h3 {
  font-family: 'Titillium Web', sans-serif;
}

p, input, label, select, textarea {
  font-family: 'Quicksand', sans-serif;
}

/* Header Section */
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ebff00;
  padding: 0.5rem;
}

#ymlogo {
  width: 6%;
}


#headertext {
  width: 80%;
  text-align: center;
}

/* Main Section */
#main {
  width: 100%;
  height: 90vh;
  margin-top: 5rem;
  border: 2px dotted black;
  display: flex;
  justify-content: space-around;

}

#user_form {
  width: 30%;
  height: 90%;
  border-radius: 2rem;
  background: rgb(59,64,86);
  background: linear-gradient(223deg, rgba(59,64,86,1) 0%, rgba(26,26,54,1) 100%); 
  box-shadow: 0.1rem 0.5rem 0.5rem grey;
}
#user_form h1, h2 {
  margin: 1rem 1rem;
  text-align: center;
  color: white;
  
}
#user_form > #header_form {
  width: 100%;
  height: 20%;
  background: rgb(28,31,0);
  background: linear-gradient(45deg, rgba(28,31,0,1) 0%, rgba(235,255,0,1) 100%);  
  border-radius: 2rem 2rem 10rem 2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}


#header_form h1 {

  color: white;
  font-size: 4.5rem;
  margin: 0;
}

#header_form p {
  color: rgb(241, 241, 241);
  width: 80%;
  font-size: 1.2rem;
  text-align: center;
}

/* User Form Section */
/*------------------------*/
#user_form > .container {
  margin-left: 0rem; /* Controls the position of the form content. */
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid red;
  font-size: 1.5rem;
}

input {
  border-radius: 1rem;
  background: none;
  border: 0.02rem solid grey;
  padding: 0.5rem 1rem;
  color: white;
  margin: 0.2rem auto;
  width: 8rem;
  width: 20%;
}

#basic_info {
  display: flex;
  flex-wrap: wrap;
  border: 3px dotted green;
  margin: 0.5rem;
}

#basic_info > input {
  width: 40%;
  margin: 0.5rem;
}

#basic_info > #DOB { /* Controls only the Date of Birth field. */
  color: lightgrey;
}


input:hover {
  border: 0.02rem solid #ebff00;
  color: #ebff00;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#medquest {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0.5rem;
  border: 3px dotted green;
  
}
#medquest > label {
  color: white;
}

#medquest > textarea {
  resize: none;
  width: 80%;
  border-radius: 0.5rem;
  background-color: none;
  border: 0.02rem solid grey;
  color: white;
  margin-top: 0.5rem;
}

#medical {
  border-radius: 1rem;
  background: none;
  border: 0.02rem solid grey;
  padding: 0.5rem 1rem;
  color: grey;
  margin: 0.5rem 0rem;
  width: 80%;
}

#medical:hover {
  border: 0.02rem solid #ebff00;
}

#medquest > select:focus { /* Focus works */
  color: #ebff00;
  background-color: rgb(56, 56, 56);
}

/* Ability and Slider Section */
#ability {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5rem;
  border: 3px dotted green;
}

#ability > label, p {
  color: white;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: none;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 0.5rem 0rem 0.5rem;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #ebff00;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #ebff00;
  cursor: pointer;
}

#emergency {
  border: 3px dotted green;
  margin: 0.5rem;
}

#othercontact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#othercontact > input {
  max-width: 80%;
  margin: 0.5rem;
}

#othercontact > input:first-child, input:last-child { /* Controls Width of Name & Email. */
  width: 80%;
}

#othercontact > input:nth-child(2), input:nth-child(3) { /* Controls Width of Name & Email. */
  width: 35%;
}

input[type=submit] {
  color: white;
  background-color: black;
  width: 40%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.2rem 0.2rem black;
  transition: 0.5s;
  margin-top: 1rem;
}

input[type=submit]:active {
  border: 0.02rem solid #ebff00;
  color: #ebff00;
  box-shadow: none;
}

/* ----------------------------------------------------------- */
/* Race Details */
#race_detail {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
#race_detail > section {

}

#race_info {
  height: 25%;
  width: 40%;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(172,172,172,1) 100%); 
  border-radius: 2rem;
  box-shadow: 0.1rem 0.2rem 0.3rem grey;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
  #race_info > h3 {
    font-size: 1.5rem;
  }
  #race_info > p {
    font-size: 1.2rem;
    line-height: 0.4rem;
    color: black;
  }

#race_card {
  height: 70%;
  width: 100%;
  background-color: grey;
  border-radius: 2rem;
  box-shadow: 0.1rem 0.2rem 0.3rem grey;
}